div.a-list-item-body {
    position: relative;
    height: 175px;
    /* height: 100%; */
}

div.a-list-item {
    min-height: 440px;

}

p.a-list-item-footer {
    position: absolute;
    bottom: 0px;
}

/* div.a-list-item-body p {
    margin-bottom: 0;
} */
