<div class="a-list-item">
    <div class="a-list-item-header">
        <img src="assets/images/films/{{image}}" alt="SW">
    </div>
    <div class="a-list-item-body">
        <h5>{{ film?.title }}</h5>
        <p>
            Director: {{ film?.director }} <br>
            Produzenten: {{ film?.producer }} <br>
            Erscheinungsdatum: {{ film?.release_date | date: 'dd.MM.yyyy' }}
        </p>
        <p class="a-list-item-footer">
            <span class="cursor-pointer" (click)="goToDetails(film.url)">Mehr Informationen....</span>
        </p>
    </div>
</div>
